funnel/n8n-workflows/le-brief-every2days.json
{
  "name": "Le Brief — Every 2 Days",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 6 * * *"
            }
          ]
        }
      },
      "id": "lb-001",
      "name": "Cron — 06:30 Europe/Paris",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        400
      ],
      "notes": "Fires daily 06:30. The Send-Due guard downstream enforces the every-2-days cadence off the last sent issue (catch-up safe), not raw epoch parity."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select (current_date - coalesce(max(issue_date), date '2000-01-01')) as days_since from brief.issues where status = 'sent'",
        "options": {}
      },
      "id": "lb-016",
      "name": "Get Last Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        380,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "notes": "Days since the last SENT issue. Feeds the Send-Due guard so a missed run catches up instead of drifting (P2-6)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lb-000-c",
              "leftValue": "={{ $execution.mode !== 'trigger' || Number($json.days_since) >= 2 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-000",
      "name": "Send Due? (>=2 days)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        400
      ],
      "notes": "TRUE = manual run OR >=2 days since last send -> proceed. FALSE = sent within the last 2 days -> stop."
    },
    {
      "parameters": {
        "jsCode": "// Fetch tiered RSS/Reddit feeds. 96h lookback. Drops UNDATED items (P3-6) so\n// stale-but-dateless entries can't sneak past the window. Carries per-run feed\n// telemetry (feeds_total / feeds_ok / candidate_count) for the low-supply alert (P2-12).\nconst RSS_FEEDS = [\n  { url: 'https://tldr.tech/api/rss/ai', source: 'tldr.tech', tier: 1 },\n  { url: 'https://hnrss.org/frontpage?q=AI+OR+LLM+OR+Claude+OR+GPT', source: 'news.ycombinator.com', tier: 1 },\n  { url: 'https://www.anthropic.com/news/rss.xml', source: 'anthropic.com', tier: 1 },\n  { url: 'https://openai.com/blog/rss.xml', source: 'openai.com', tier: 1 },\n  { url: 'https://deepmind.google/blog/rss.xml', source: 'deepmind.google', tier: 1 },\n  { url: 'https://blog.google/technology/ai/rss/', source: 'blog.google', tier: 1 },\n  { url: 'https://simonwillison.net/atom/everything/', source: 'simonwillison.net', tier: 1 },\n  { url: 'https://www.latent.space/feed', source: 'latent.space', tier: 1 },\n  { url: 'https://www.actuia.com/feed/', source: 'actuia.com', tier: 1 },\n  { url: 'https://techcrunch.com/category/artificial-intelligence/feed/', source: 'techcrunch.com', tier: 2 },\n  { url: 'https://research.google/blog/rss/', source: 'research.google', tier: 2 },\n  { url: 'https://huggingface.co/blog/feed.xml', source: 'huggingface.co', tier: 2 },\n  { url: 'https://bair.berkeley.edu/blog/feed.xml', source: 'bair.berkeley.edu', tier: 2 },\n  { url: 'https://importai.substack.com/feed', source: 'importai.substack.com', tier: 2 },\n  { url: 'https://magazine.sebastianraschka.com/feed', source: 'sebastianraschka.com', tier: 2 },\n  { url: 'https://www.technologyreview.com/topic/artificial-intelligence/feed', source: 'technologyreview.com', tier: 2 },\n  { url: 'https://www.reddit.com/r/LocalLLaMA/.rss', source: 'reddit.com/r/LocalLLaMA', tier: 2 },\n  { url: 'https://mshibanami.github.io/GitHubTrendingRSS/daily/python.xml', source: 'github.com/trending', tier: 2 },\n  { url: 'https://www.theverge.com/ai-artificial-intelligence/rss/index.xml', source: 'theverge.com', tier: 3 },\n  { url: 'https://www.reddit.com/r/MachineLearning/.rss', source: 'reddit.com/r/MachineLearning', tier: 3 },\n  { url: 'http://export.arxiv.org/rss/cs.AI', source: 'arxiv.org/cs.AI', tier: 3 },\n  { url: 'http://export.arxiv.org/rss/cs.CL', source: 'arxiv.org/cs.CL', tier: 3 },\n  { url: 'https://www.usine-digitale.fr/rss/', source: 'usine-digitale.fr', tier: 3 },\n];\n\nconst CUTOFF_MS = Date.now() - 96 * 60 * 60 * 1000;\n\nfunction stripCdata(s = '') {\n  return s.replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1').replace(/<[^>]+>/g, '').trim();\n}\n\nfunction parseRss(xml, source, tier) {\n  const out = [];\n  const blocks = xml.match(/<(item|entry)[\\s\\S]*?<\\/(item|entry)>/g) || [];\n  for (const block of blocks) {\n    const title = (block.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/) || [, ''])[1];\n    const linkMatch =\n      block.match(/<link[^>]*href=\"([^\"]+)\"/) ||\n      block.match(/<link[^>]*>([\\s\\S]*?)<\\/link>/);\n    const link = linkMatch ? linkMatch[1] : '';\n    const pub =\n      (block.match(/<pubDate[^>]*>([\\s\\S]*?)<\\/pubDate>/) || [, ''])[1] ||\n      (block.match(/<published[^>]*>([\\s\\S]*?)<\\/published>/) || [, ''])[1] ||\n      (block.match(/<updated[^>]*>([\\s\\S]*?)<\\/updated>/) || [, ''])[1] ||\n      (block.match(/<dc:date[^>]*>([\\s\\S]*?)<\\/dc:date>/) || [, ''])[1];\n    const desc =\n      (block.match(/<description[^>]*>([\\s\\S]*?)<\\/description>/) || [, ''])[1] ||\n      (block.match(/<summary[^>]*>([\\s\\S]*?)<\\/summary>/) || [, ''])[1];\n    const publishedMs = pub ? Date.parse(pub) : NaN;\n    if (!title || !link) continue;\n    if (!isFinite(publishedMs)) continue; // P3-6: drop undated items\n    out.push({\n      title: stripCdata(title),\n      url: link.trim(),\n      source,\n      tier,\n      published_ms: publishedMs,\n      snippet: stripCdata(desc).slice(0, 400),\n      kind: 'rss',\n    });\n  }\n  return out;\n}\n\nasync function fetchFeed({ url, source, tier }) {\n  try {\n    const xml = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      headers: { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36' },\n      returnFullResponse: false,\n      timeout: 15000,\n    });\n    return parseRss(typeof xml === 'string' ? xml : String(xml), source, tier);\n  } catch (err) {\n    console.warn('Feed failed: ' + source + ' ' + err.message);\n    return null; // null = failed feed (distinct from empty)\n  }\n}\n\nconst all = [];\nlet feedsOk = 0;\nfor (const feed of RSS_FEEDS) {\n  const rows = await fetchFeed.call(this, feed);\n  if (rows === null) continue;\n  feedsOk += 1;\n  all.push(...rows);\n}\n\nconst seen = new Set();\nconst filtered = all\n  .filter((i) => i.published_ms >= CUTOFF_MS)\n  .filter((i) => { if (seen.has(i.url)) return false; seen.add(i.url); return true; })\n  .sort((a, b) => (a.tier - b.tier) || (b.published_ms - a.published_ms))\n  .slice(0, 140);\n\nreturn [{ json: { items: filtered, count: filtered.length, feeds_total: RSS_FEEDS.length, feeds_ok: feedsOk } }];\n"
      },
      "id": "lb-002",
      "name": "Fetch RSS + Reddit Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        280
      ],
      "notes": "Tiered RSS/Reddit, 96h window, drops undated items, carries feed telemetry."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apidojo~twitter-scraper-lite/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchTerms\": [\"from:sama\", \"from:karpathy\", \"from:AnthropicAI\", \"from:OpenAI\", \"from:GoogleDeepMind\", \"from:miramurati\", \"from:swyx\", \"from:hwchase17\"],\n  \"sort\": \"Latest\",\n  \"tweetLanguage\": \"en\",\n  \"maxItems\": 60\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "lb-003",
      "name": "Apify — Twitter (last 48h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        480
      ],
      "notes": "Recent tweets, tier 2, interleaved into candidates. onError=continue so a dead source never blocks the issue.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Apify Twitter rows into our item shape. 48h window. Tweets get\n// tier 2 so they interleave with tier-2 RSS in the candidate sort (P1-2).\nconst CUTOFF_MS = Date.now() - 48 * 60 * 60 * 1000;\nconst rows = items.map((i) => i.json);\nconst normalized = rows\n  .map((t) => {\n    const created = t.createdAt || t.created_at || t.date;\n    const ms = created ? Date.parse(created) : NaN;\n    const handle = t.author?.userName || t.user?.screen_name || t.username || 'unknown';\n    return {\n      title: t.text ? t.text.slice(0, 200) : '',\n      url: t.url || t.twitterUrl || ('https://x.com/' + handle + '/status/' + (t.id || '')),\n      source: 'x.com/@' + handle,\n      tier: 2,\n      published_ms: ms,\n      snippet: t.text || '',\n      kind: 'tweet',\n      engagement: (t.likeCount || 0) + (t.retweetCount || 0) * 2,\n    };\n  })\n  .filter((t) => t.title && isFinite(t.published_ms) && t.published_ms >= CUTOFF_MS)\n  .sort((a, b) => b.engagement - a.engagement)\n  .slice(0, 25);\n\nreturn [{ json: { items: normalized, count: normalized.length } }];\n"
      },
      "id": "lb-004",
      "name": "Normalize Tweets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select (select coalesce(jsonb_agg(u), '[]'::jsonb) from (select jsonb_array_elements_text(sent_urls) as u from brief.issues where status = 'sent' and issue_date > current_date - 14) x) as recent_urls, (select count(*) from brief.issues where status = 'sent') as sent_total",
        "options": {}
      },
      "id": "lb-017",
      "name": "Get Issue Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "notes": "recent_urls (last 14d) for cross-issue dedup + sent_total for the issue number. Leaf, referenced by Combine + Tag Issue."
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "lb-005",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge (append) gives one item per branch, each with its own .items array.\n// Flatten, drop URLs already sent in the last 14 days (P1-3), interleave by\n// tier-then-recency so tweets reach the curator, tag a monotonic issue number\n// from the real sent count (P3-1).\nconst combined = [];\nfor (const i of items) {\n  if (Array.isArray(i.json?.items)) combined.push(...i.json.items);\n}\n\n// Cross-issue dedup: filter out anything shipped recently.\nlet recentUrls = [];\ntry {\n  const ctx = $('Get Issue Context').first().json;\n  recentUrls = Array.isArray(ctx.recent_urls) ? ctx.recent_urls : [];\n} catch (e) { recentUrls = []; }\nconst recentSet = new Set(recentUrls.map((u) => String(u).trim()));\n\nconst seen = new Set();\nconst deduped = combined\n  .filter((i) => i && i.url && !recentSet.has(String(i.url).trim()))\n  .filter((i) => { const u = String(i.url).trim(); if (seen.has(u)) return false; seen.add(u); return true; })\n  .sort((a, b) => ((a.tier || 3) - (b.tier || 3)) || ((b.published_ms || 0) - (a.published_ms || 0)))\n  .slice(0, 120);\n\nlet sentTotal = 0;\ntry { sentTotal = Number($('Get Issue Context').first().json.sent_total) || 0; } catch (e) { sentTotal = 0; }\nconst issueNumber = sentTotal + 1;\n\nreturn [{ json: { items: deduped, count: deduped.length, issue_number: issueNumber, date_iso: new Date().toISOString(), feeds_ok: (items[0]?.json?.feeds_ok ?? null), feeds_total: (items[0]?.json?.feeds_total ?? null) } }];\n"
      },
      "id": "lb-006",
      "name": "Combine + Tag Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 2000,\n  \"system\": \"Tu es l'editeur en chef de la newsletter 'Le Brief' de Manu (@manu_ai.to), publiee un jour sur deux. Audience: entrepreneurs, solopreneurs et curieux francophones qui veulent suivre l'IA sans y passer leurs journees. Ta voix: directe, concrete, un peu provocante, jamais du hype creux. Tu tutoies le lecteur. 'Done is better than perfect'. Pas de bla-bla corporate.\\n\\nOn te donne 40 a 120 news brutes des dernieres 48 a 96h (titre, source, url, extrait).\\n\\nETAPE 1 - FILTRE: garde uniquement ce qui entre dans ces 7 themes: (1) automatisation et agents IA (n8n, frameworks d'agents), (2) nouveaux outils et lancements IA, (3) sorties de modeles (Claude, GPT, Gemini, modeles open), (4) IA pour entrepreneurs et solopreneurs (business, monetisation), (5) tutos pratiques (prompts, workflows), (6) gros mouvements de l'industrie (levees, rachats, strategie), (7) IA pour le code et les outils dev. Jette le reste: drama, hype vide, leaks vagues, hors-sujet, clickbait, contenu promotionnel deguise.\\n\\nETAPE 2 - CLASSE:\\n- 'featured': les 3 a 4 news LES PLUS importantes. Pour chacune: 'title' = titre court et clair en francais (6 a 10 mots, accents corrects), 'lines' = 2 a 3 phrases courtes en francais qui expliquent ce que c'est ET surtout pourquoi ca compte pour l'audience (le 'decode', pas juste la news), 'source' = le domaine fourni, 'url' = l'URL EXACTE fournie.\\n- 'quickhits': 5 a 8 autres news pertinentes. Pour chacune: 'line' = une phrase francaise de 8 a 16 mots (info + angle), 'source' = domaine, 'url' = URL EXACTE.\\n\\nETAPE 3 - HABILLE:\\n- 'subject': l'objet de l'email. Francais, 5 a 9 mots, accrocheur par la SPECIFICITE (nomme la plus grosse news ou l'angle fort), jamais de clickbait vide. Pas de prefixe 'Le Brief', pas de numero. Majuscule en debut, pas de point final.\\n- 'intro': 1 a 2 phrases qui posent l'edition, ton Manu, tutoiement. Accroche le lecteur sur ce qui compte aujourd'hui.\\n- 'outro': 1 phrase de fin, punchy ou qui ouvre sur la suite. Pas de CTA classique: une observation, une pique ou une projection.\\n\\nREGLES DURES:\\n- N'invente JAMAIS une URL, un titre ou un fait. Utilise uniquement les news fournies et leurs URL exactes. Si tu n'es pas sur, jette la news.\\n- Aucun doublon entre 'featured' et 'quickhits' (jamais deux fois la meme URL ou la meme histoire).\\n- Ecris un francais naturel et correct, avec les accents. Pas de traduction mot a mot depuis l'anglais.\\n- Reponds UNIQUEMENT en JSON valide, sans markdown, exactement selon ce schema: {\\\"subject\\\":\\\"...\\\",\\\"intro\\\":\\\"...\\\",\\\"featured\\\":[{\\\"title\\\":\\\"...\\\",\\\"lines\\\":\\\"...\\\",\\\"source\\\":\\\"...\\\",\\\"url\\\":\\\"...\\\"}],\\\"quickhits\\\":[{\\\"line\\\":\\\"...\\\",\\\"source\\\":\\\"...\\\",\\\"url\\\":\\\"...\\\"}],\\\"outro\\\":\\\"...\\\"}\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('News candidates (dernieres 48h):\\n\\n' + JSON.stringify($json.items.slice(0, 50).map(i => ({ title: i.title, source: i.source, url: i.url, snippet: (i.snippet||'').slice(0,120) })))) }} }\n  ]\n}",
        "options": {
          "timeout": 120000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "lb-007",
      "name": "Claude — Curate (format C)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        400
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "Anthropic claude-haiku-4-5. Top 50 candidates (RSS+tweets interleaved). Retries twice on transient API failure; a hard error is caught downstream and routed to the error alert (not held)."
    },
    {
      "parameters": {
        "jsCode": "// Parse the Claude format-C JSON, detect API errors distinctly from a slow news\n// day (P1-4), whitelist URLs against the real candidates (anti-hallucination),\n// and set an explicit route: 'error' | 'held' | 'send'.\nconst reply = $input.first().json;\n\n// P1-4: an Anthropic error body (type:'error') or a missing content array is an\n// OUTAGE, not \"too few stories\". Route it to 'error' so it alerts + is visible,\n// instead of masquerading as a held issue.\nconst apiError = !reply || reply.type === 'error' || !Array.isArray(reply.content) || !reply.content[0]?.text;\n\nconst raw = apiError ? '{}' : (reply.content[0].text || '{}');\nlet parsed;\ntry {\n  let cleaned = String(raw).trim();\n  const first = cleaned.indexOf('{');\n  const last = cleaned.lastIndexOf('}');\n  if (first !== -1 && last !== -1 && last > first) cleaned = cleaned.slice(first, last + 1);\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {};\n}\n\nconst issue = $('Combine + Tag Issue').first().json;\nconst cand = Array.isArray(issue.items) ? issue.items : [];\nconst validUrls = new Set(cand.map((i) => String(i.url).trim()));\nconst urlSource = new Map(cand.map((i) => [String(i.url).trim(), String(i.source || '').trim()]));\nconst clean = (s) => String(s == null ? '' : s).trim();\n\nlet featured = Array.isArray(parsed.featured) ? parsed.featured : [];\nconst fSeen = new Set();\nfeatured = featured\n  .map((s) => ({ title: clean(s.title), lines: clean(s.lines), url: clean(s.url), source: clean(s.source) }))\n  .filter((s) => s.title && s.lines && validUrls.has(s.url))\n  .filter((s) => (fSeen.has(s.url) ? false : (fSeen.add(s.url), true)))\n  .map((s) => ({ ...s, source: urlSource.get(s.url) || s.source }))\n  .slice(0, 4);\n\nlet quickhits = Array.isArray(parsed.quickhits) ? parsed.quickhits : [];\nconst featuredUrls = new Set(featured.map((f) => f.url));\nconst qSeen = new Set();\nquickhits = quickhits\n  .map((s) => ({ line: clean(s.line), url: clean(s.url), source: clean(s.source) }))\n  .filter((s) => s.line && validUrls.has(s.url) && !featuredUrls.has(s.url))\n  .filter((s) => (qSeen.has(s.url) ? false : (qSeen.add(s.url), true)))\n  .map((s) => ({ ...s, source: urlSource.get(s.url) || s.source }))\n  .slice(0, 8);\n\nconst subject = clean(parsed.subject);\nconst intro = clean(parsed.intro);\nconst outro = clean(parsed.outro);\nconst story_count = featured.length + quickhits.length;\nconst held = featured.length < 3;\nconst sent_urls = [...featured.map((f) => f.url), ...quickhits.map((q) => q.url)];\n\n// Low-supply signal (P2-12): too few candidates reached curation.\nconst candidate_count = cand.length;\nconst low_supply = candidate_count < 30;\n\nconst route = apiError ? 'error' : (held ? 'held' : 'send');\n\nreturn [{\n  json: {\n    subject, intro, outro, featured, quickhits,\n    story_count, featured_count: featured.length,\n    apiError, held, route, low_supply, candidate_count,\n    sent_urls,\n    issue_number: issue.issue_number,\n    date_iso: issue.date_iso,\n  },\n}];\n"
      },
      "id": "lb-008",
      "name": "Parse + Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        400
      ],
      "notes": "Parses format-C JSON, detects API errors vs slow news day, whitelists URLs, sets route = error|held|send."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lb-018-c",
              "leftValue": "={{ $json.route === 'error' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-018",
      "name": "API Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2180,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lb-009-c",
              "leftValue": "={{ $json.held }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-009",
      "name": "Held? (< 3 featured)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into brief.issues (issue_date, story_count, sent_count, status, note) values (current_date, 0, 0, 'error', 'Curation API error — see execution.')",
        "options": {}
      },
      "id": "lb-019",
      "name": "Log Error Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2400,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": {{ JSON.stringify($env.BRIEF_FROM_EMAIL || 'Le Brief <brief@send.taiyka.com>') }},\n  \"to\": \"manu.uhila@taiyka.com\",\n  \"subject\": \"[Le Brief] ERREUR — la curation a echoue\",\n  \"text\": \"L'appel de curation (Claude) a renvoye une erreur ou une reponse vide. Aucun numero envoye. Verifie l'execution n8n et la cle ANTHROPIC_API_KEY.\"\n}",
        "options": {}
      },
      "id": "lb-020",
      "name": "Notify Manu — Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=insert into brief.issues (issue_date, story_count, sent_count, status, note) values (current_date, {{ $json.story_count }}, 0, 'held-no-stories', 'Held: fewer than 3 featured stories passed the theme filter.')",
        "options": {}
      },
      "id": "lb-010",
      "name": "Log Held Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2620,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "onError=continue so the alert still fires even if this insert fails (P2-5)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": {{ JSON.stringify($env.BRIEF_FROM_EMAIL || 'Le Brief <brief@send.taiyka.com>') }},\n  \"to\": \"manu.uhila@taiyka.com\",\n  \"subject\": {{ JSON.stringify('[Le Brief] Numero tenu — trop peu de news (' + $json.story_count + ')') }},\n  \"text\": \"Le Brief n'a pas ete envoye: moins de 3 news featured ont passe le filtre. Rien a faire — c'est le garde-fou anti-numero-vide.\"\n}",
        "options": {}
      },
      "id": "lb-011",
      "name": "Notify Manu — Held",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        620
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select exists(select 1 from brief.issues where issue_date = current_date and status = 'sent') as already",
        "options": {}
      },
      "id": "lb-021",
      "name": "Already Sent Today?",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2620,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lb-022-c",
              "leftValue": "={{ $execution.mode !== 'trigger' || $json.already === false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-022",
      "name": "Not Already Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2840,
        460
      ],
      "notes": "Idempotency: stop if a 'sent' row already exists for today (P0-4). Manual dry-runs bypass (they send to Manu only)."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email, token from brief.subscribers where status = 'active' and lang = 'fr'",
        "options": {}
      },
      "id": "lb-012",
      "name": "Get Active Subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3060,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Build Resend batches: format-C email per subscriber (+ monitor copy to Manu),\n// CHUNKED to <=100 per call (P0-2 — one output item per chunk, so the HTTP node\n// fires once per chunk). URLs are attribute-escaped in every href (P2-4). On a\n// MANUAL run this is a DRY-RUN: only the monitor copy is built, never the list (P0-4).\nconst guard = $('Parse + Guard').first().json;\nconst featured = guard.featured || [];\nconst quickhits = guard.quickhits || [];\nconst issueNumber = guard.issue_number;\nconst intro = (guard.intro || '').trim();\nconst outro = (guard.outro || '').trim();\nconst dateLabel = new Date(guard.date_iso).toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });\n\nconst dryRun = $execution.mode !== 'trigger';\nconst subs = dryRun ? [] : items.map((i) => i.json).filter((s) => s && s.email && s.token);\n\nconst SITE = $env.BRIEF_SITE_URL || 'https://taiyka.com';\nconst FROM = $env.BRIEF_FROM_EMAIL || 'Le Brief <brief@send.taiyka.com>';\nconst ADDRESS = 'Taiyka · 180 Montée de Bellevue, 83210 Solliès-Pont, France';\nconst issueStr = String(issueNumber).padStart(3, '0');\nconst subject = (guard.subject && guard.subject.length) ? guard.subject : ('Le Brief #' + issueStr);\nconst preheader = intro ? intro.slice(0, 110) : ('Édition #' + issueStr + ' — ' + dateLabel);\n\nconst esc = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n// Attribute-safe escape for href values (P2-4): quotes + angle brackets + amp.\nconst escAttr = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/\"/g, '&quot;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst FONT = \"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\";\n\nfunction render(unsubUrl) {\n  const u = escAttr(unsubUrl);\n  const site = escAttr(SITE);\n  const featuredHtml = featured.map((s, i) => {\n    const href = escAttr(s.url);\n    return '<tr><td class=\"px\" style=\"padding:18px 32px 0 32px;\">' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"bg-card\" style=\"background-color:#0d1e33;border:1px solid #1e3a5f;border-radius:12px;\">' +\n    '<tr><td style=\"padding:20px 22px;border-left:3px solid #00A6FF;\">' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>' +\n    '<td width=\"30\" valign=\"top\" style=\"font-family:ui-monospace,Menlo,monospace;font-size:13px;letter-spacing:0.06em;color:#00A6FF;padding-top:4px;\">' + String(i + 1).padStart(2, '0') + '</td>' +\n    '<td valign=\"top\">' +\n    '<a href=\"' + href + '\" class=\"t-light\" style=\"font-family:' + FONT + ';font-size:18px;line-height:25px;font-weight:800;letter-spacing:-0.2px;color:#E8F0FE;text-decoration:none;\">' + esc(s.title) + '</a>' +\n    '<div class=\"t-muted\" style=\"font-family:' + FONT + ';font-size:14px;line-height:22px;color:#b8c6db;margin-top:8px;\">' + esc(s.lines) + '</div>' +\n    '<a href=\"' + href + '\" style=\"font-family:' + FONT + ';font-size:13px;line-height:18px;font-weight:600;color:#00A6FF;text-decoration:none;display:inline-block;margin-top:10px;\">→&nbsp;' + esc(s.source) + '</a>' +\n    '</td></tr></table></td></tr></table></td></tr>';\n  }).join('');\n\n  const quickHtml = quickhits.map((s) => {\n    const href = escAttr(s.url);\n    return '<tr><td class=\"px\" style=\"padding:11px 32px 0 32px;\">' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>' +\n    '<td valign=\"top\" width=\"16\" style=\"font-family:' + FONT + ';font-size:15px;line-height:22px;color:#00A6FF;\">›</td>' +\n    '<td valign=\"top\" class=\"t-light\" style=\"font-family:' + FONT + ';font-size:15px;line-height:22px;color:#E8F0FE;\">' +\n    '<a href=\"' + href + '\" style=\"color:#E8F0FE;text-decoration:none;\">' + esc(s.line) + '</a>' +\n    (s.source ? ' <a href=\"' + href + '\" class=\"t-muted\" style=\"font-size:12px;color:#8FA3BD;text-decoration:none;white-space:nowrap;\">— ' + esc(s.source) + '</a>' : '') +\n    '</td></tr></table></td></tr>';\n  }).join('');\n\n  const quickBlock = quickhits.length ? (\n    '<tr><td class=\"px\" style=\"padding:26px 32px 0 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"height:1px;line-height:1px;font-size:0;background-color:#1e3a5f;\">&nbsp;</td></tr></table></td></tr>' +\n    '<tr><td class=\"px\" style=\"padding:22px 32px 2px 32px;\"><span style=\"font-family:' + FONT + ';font-size:12px;line-height:16px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#00E5FF;\">En bref</span></td></tr>' +\n    quickHtml\n  ) : '';\n\n  const introBlock = intro ? ('<tr><td class=\"px t-muted\" style=\"padding:22px 32px 0 32px;font-family:' + FONT + ';font-size:15px;line-height:24px;color:#8FA3BD;\">' + esc(intro) + '</td></tr>') : '';\n  const outroBlock = outro ? ('<tr><td class=\"px t-muted\" style=\"padding:22px 32px 0 32px;font-family:' + FONT + ';font-size:15px;line-height:24px;color:#8FA3BD;\">' + esc(outro) + '</td></tr>') : '';\n\n  return '<!doctype html><html lang=\"fr\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>' +\n    '<meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">' +\n    '<meta name=\"x-apple-disable-message-reformatting\"><meta name=\"color-scheme\" content=\"dark light\"><meta name=\"supported-color-schemes\" content=\"dark light\"><title>Le Brief</title>' +\n    '<!--[if mso]><noscript><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml></noscript><![endif]-->' +\n    '<style>:root{color-scheme:dark light;supported-color-schemes:dark light;}' +\n    'html,body{margin:0!important;padding:0!important;width:100%!important;}table,td{mso-table-lspace:0pt!important;mso-table-rspace:0pt!important;border-collapse:collapse!important;}' +\n    'a{text-decoration:none;}a[x-apple-data-detectors]{color:inherit!important;text-decoration:none!important;}' +\n    '@media only screen and (max-width:600px){.full{width:100%!important;max-width:100%!important;}.px{padding-left:20px!important;padding-right:20px!important;}}' +\n    '@media (prefers-color-scheme:dark){.bg-body{background-color:#0A1628!important;}.bg-card{background-color:#0d1e33!important;}.t-light{color:#E8F0FE!important;}.t-muted{color:#8FA3BD!important;}}' +\n    '[data-ogsc] .bg-body{background-color:#0A1628!important;}[data-ogsc] .bg-card{background-color:#0d1e33!important;}[data-ogsc] .t-light{color:#E8F0FE!important;}[data-ogsc] .t-muted{color:#8FA3BD!important;}' +\n    '</style></head>' +\n    '<body id=\"body\" class=\"bg-body\" style=\"margin:0;padding:0;width:100%;background-color:#0A1628;\">' +\n    '<div style=\"display:none;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;color:#0A1628;\">' + esc(preheader) + '</div>' +\n    '<table role=\"presentation\" class=\"bg-body\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#0A1628;\"><tr><td align=\"center\" style=\"padding:0;\">' +\n    '<!--[if mso]><table role=\"presentation\" align=\"center\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td><![endif]-->' +\n    '<table role=\"presentation\" class=\"full\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:600px;max-width:600px;margin:0 auto;\">' +\n    '<tr><td style=\"height:24px;line-height:24px;font-size:0;\">&nbsp;</td></tr>' +\n    '<tr><td class=\"px\" style=\"padding:0 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>' +\n    '<td align=\"left\" style=\"font-family:' + FONT + ';\"><span class=\"t-light\" style=\"font-size:25px;line-height:30px;font-weight:800;letter-spacing:-0.5px;color:#E8F0FE;\">Le&nbsp;Brief</span> <span style=\"font-size:25px;font-weight:800;color:#00A6FF;\">/</span></td>' +\n    '<td align=\"right\" class=\"t-muted\" style=\"font-family:' + FONT + ';font-size:12px;line-height:17px;color:#8FA3BD;font-weight:500;\">édition #' + issueStr + '<br>' + dateLabel + '</td>' +\n    '</tr></table></td></tr>' +\n    '<tr><td class=\"px\" style=\"padding:16px 32px 0 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"height:2px;line-height:2px;font-size:0;background-color:#00A6FF;border-radius:2px;\">&nbsp;</td></tr></table></td></tr>' +\n    introBlock +\n    '<tr><td class=\"px\" style=\"padding:28px 32px 0 32px;\"><span style=\"font-family:' + FONT + ';font-size:12px;line-height:16px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:#00E5FF;\">À la une</span></td></tr>' +\n    featuredHtml +\n    quickBlock +\n    '<tr><td class=\"px\" style=\"padding:32px 32px 0 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"height:1px;line-height:1px;font-size:0;background-color:#1e3a5f;\">&nbsp;</td></tr></table></td></tr>' +\n    outroBlock +\n    '<tr><td class=\"px\" style=\"padding:16px 32px 0 32px;font-family:' + FONT + ';font-size:15px;line-height:22px;\"><span class=\"t-light\" style=\"color:#E8F0FE;font-weight:700;\">Manu</span><span class=\"t-muted\" style=\"color:#8FA3BD;\">&nbsp;·&nbsp;</span><a href=\"https://instagram.com/manu_ai.to\" style=\"color:#00A6FF;text-decoration:none;font-weight:600;\">@manu_ai.to</a></td></tr>' +\n    '<tr><td style=\"height:32px;line-height:32px;font-size:0;\">&nbsp;</td></tr>' +\n    '<tr><td class=\"px\" style=\"padding:0 32px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"bg-card\" style=\"background-color:#0d1e33;border:1px solid #1e3a5f;border-radius:12px;\"><tr>' +\n    '<td style=\"padding:20px 24px;font-family:' + FONT + ';font-size:12px;line-height:19px;color:#8FA3BD;text-align:center;\">' +\n    '<span style=\"color:#E8F0FE;font-weight:700;\">Le Brief</span> — par Taiyka<br>' + ADDRESS + '<br><br>' +\n    'Tu reçois cet email car tu t’es inscrit sur <a href=\"' + site + '\" style=\"color:#00A6FF;text-decoration:none;\">taiyka.com</a>. On ne partage jamais ton adresse. <a href=\"' + site + '/privacy\" style=\"color:#8FA3BD;text-decoration:underline;\">Confidentialité</a>.<br><br>' +\n    '<a href=\"' + u + '\" style=\"color:#8FA3BD;text-decoration:underline;\">Se désabonner en un clic</a>' +\n    '</td></tr></table></td></tr>' +\n    '<tr><td style=\"height:28px;line-height:28px;font-size:0;\">&nbsp;</td></tr>' +\n    '</table><!--[if mso]></td></tr></table><![endif]--></td></tr></table></body></html>';\n}\n\nfunction renderText(unsubUrl) {\n  const fLines = featured.map((s, i) => String(i + 1).padStart(2, '0') + '. ' + s.title + '\\n' + s.lines + '\\n→ ' + s.source + ': ' + s.url).join('\\n\\n');\n  const qLines = quickhits.map((s) => '› ' + s.line + (s.source ? ' (' + s.source + ')' : '') + '\\n  ' + s.url).join('\\n');\n  return 'LE BRIEF #' + issueStr + ' — ' + dateLabel + '\\n\\n' +\n    (intro ? intro + '\\n\\n' : '') +\n    'A LA UNE\\n\\n' + fLines + '\\n\\n' +\n    (quickhits.length ? 'EN BREF\\n\\n' + qLines + '\\n\\n' : '') +\n    (outro ? outro + '\\n\\n' : '') +\n    'Manu · @manu_ai.to\\n\\n' +\n    ADDRESS + '\\nTu reçois cet email car tu t’es inscrit sur taiyka.com.\\nConfidentialité: ' + SITE + '/privacy\\nSe désabonner: ' + unsubUrl;\n}\n\nconst unsubHeaders = (unsubUrl) => ({\n  'List-Unsubscribe': '<' + unsubUrl + '>, <mailto:unsubscribe@taiyka.com?subject=unsubscribe>',\n  'List-Unsubscribe-Post': 'List-Unsubscribe=One-Click',\n});\n\n// Assemble all emails (monitor copy + subscribers), then chunk into <=100.\nconst emails = [];\nconst monUnsub = SITE + '/brief';\nemails.push({ from: FROM, to: 'manu.uhila@taiyka.com', subject: (dryRun ? '[DRY-RUN] ' : '[COPIE] ') + subject, html: render(monUnsub), text: renderText(monUnsub) });\nfor (const s of subs) {\n  const unsub = SITE + '/api/brief/unsubscribe?token=' + s.token;\n  emails.push({ from: FROM, to: s.email, subject, html: render(unsub), text: renderText(unsub), headers: unsubHeaders(unsub) });\n}\n\nconst CHUNK = 100;\nconst chunks = [];\nfor (let i = 0; i < emails.length; i += CHUNK) chunks.push(emails.slice(i, i + CHUNK));\n\nconst meta = {\n  sent_count: subs.length,\n  story_count: (featured.length + quickhits.length),\n  total_emails: emails.length,\n  chunks_total: chunks.length,\n  subject,\n  sent_urls: guard.sent_urls || [],\n  content: { featured, quickhits, intro, outro },\n  dry_run: dryRun,\n  low_supply: !!guard.low_supply,\n};\n\nreturn chunks.map((batch, idx) => ({ json: { ...meta, batch, chunk_index: idx } }));\n"
      },
      "id": "lb-013",
      "name": "Build Resend Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        460
      ],
      "notes": "One format-C email per subscriber (+ monitor copy), chunked <=100 (one item per chunk). Manual run = dry-run to Manu only."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails/batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.batch }}",
        "options": {}
      },
      "id": "lb-014",
      "name": "Resend — Batch Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        460
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "Runs once per <=100 chunk. Retries transient failures. Browser UA avoids Cloudflare 1010."
    },
    {
      "parameters": {
        "jsCode": "// Collect the Resend batch responses (one per chunk), count accepted ids vs\n// expected, build the log SQL with proper escaping (P1-11 + P2-3). References\n// Build Resend Batch for the shared meta.\nconst builds = $('Build Resend Batch').all().map((i) => i.json);\nconst meta = builds[0] || {};\nconst responses = $input.all().map((i) => i.json);\n\nlet ids = [];\nfor (const r of responses) {\n  if (Array.isArray(r?.data)) ids.push(...r.data.map((d) => d.id).filter(Boolean));\n  else if (r?.id) ids.push(r.id);\n}\nconst totalEmails = Number(meta.total_emails) || 0;\nconst failures = Math.max(0, totalEmails - ids.length);\n\nconst sql = (s) => String(s == null ? '' : s).replace(/'/g, \"''\");\nconst jsonLit = (o) => \"'\" + sql(JSON.stringify(o ?? null)) + \"'::jsonb\";\n\nconst noteParts = [];\nif (meta.dry_run) noteParts.push('dry-run');\nif (meta.low_supply) noteParts.push('low-supply (<30 candidates)');\nif (failures > 0) noteParts.push(failures + '/' + totalEmails + ' emails not accepted by Resend');\nconst note = noteParts.join('; ');\n\nconst log_sql =\n  \"insert into brief.issues (issue_date, story_count, sent_count, status, note, sent_urls, subject, content, resend_ids) values (\" +\n  \"current_date, \" + (Number(meta.story_count) || 0) + \", \" + (Number(meta.sent_count) || 0) + \", 'sent', \" +\n  \"'\" + sql(note) + \"', \" + jsonLit(meta.sent_urls || []) + \", '\" + sql(meta.subject || '') + \"', \" +\n  jsonLit(meta.content || {}) + \", \" + jsonLit(ids) + \")\";\n\nreturn [{ json: { sent_count: meta.sent_count, story_count: meta.story_count, total_emails: totalEmails, accepted: ids.length, failures, dry_run: !!meta.dry_run, subject: meta.subject, log_sql } }];\n"
      },
      "id": "lb-023",
      "name": "Aggregate Send Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3720,
        460
      ],
      "notes": "Counts accepted ids vs expected across all chunks (partial-send detection, P1-11) and builds the log SQL."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lb-024-c",
              "leftValue": "={{ $json.dry_run === false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-024",
      "name": "Persist Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3940,
        380
      ],
      "notes": "Skip the 'sent' log row on manual dry-runs so they don't consume the day's idempotency slot."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.log_sql }}",
        "options": {}
      },
      "id": "lb-015",
      "name": "Log Sent Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4160,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "lb-025-c",
              "leftValue": "={{ $json.failures > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-025",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3940,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": {{ JSON.stringify($env.BRIEF_FROM_EMAIL || 'Le Brief <brief@send.taiyka.com>') }},\n  \"to\": \"manu.uhila@taiyka.com\",\n  \"subject\": \"[Le Brief] Envoi partiel — des emails ont ete refuses\",\n  \"text\": {{ JSON.stringify('Resend a accepte ' + $json.accepted + '/' + $json.total_emails + ' emails. ' + $json.failures + ' non acceptes. Verifie l\\'execution n8n.') }}\n}",
        "options": {}
      },
      "id": "lb-026",
      "name": "Notify Manu — Partial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        560
      ]
    }
  ],
  "connections": {
    "Cron — 06:30 Europe/Paris": {
      "main": [
        [
          {
            "node": "Get Last Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Sent": {
      "main": [
        [
          {
            "node": "Send Due? (>=2 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Due? (>=2 days)": {
      "main": [
        [
          {
            "node": "Fetch RSS + Reddit Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify — Twitter (last 48h)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Issue Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Apify — Twitter (last 48h)": {
      "main": [
        [
          {
            "node": "Normalize Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS + Reddit Sources": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tweets": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Combine + Tag Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine + Tag Issue": {
      "main": [
        [
          {
            "node": "Claude — Curate (format C)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Curate (format C)": {
      "main": [
        [
          {
            "node": "Parse + Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Guard": {
      "main": [
        [
          {
            "node": "API Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Error?": {
      "main": [
        [
          {
            "node": "Log Error Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Held? (< 3 featured)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Issue": {
      "main": [
        [
          {
            "node": "Notify Manu — Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Held? (< 3 featured)": {
      "main": [
        [
          {
            "node": "Log Held Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Sent Today?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Held Issue": {
      "main": [
        [
          {
            "node": "Notify Manu — Held",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Sent Today?": {
      "main": [
        [
          {
            "node": "Not Already Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Already Sent?": {
      "main": [
        [
          {
            "node": "Get Active Subscribers",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Active Subscribers": {
      "main": [
        [
          {
            "node": "Build Resend Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Resend Batch": {
      "main": [
        [
          {
            "node": "Resend — Batch Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend — Batch Send": {
      "main": [
        [
          {
            "node": "Aggregate Send Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Send Results": {
      "main": [
        [
          {
            "node": "Persist Sent?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Any Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Sent?": {
      "main": [
        [
          {
            "node": "Log Sent Issue",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Any Failures?": {
      "main": [
        [
          {
            "node": "Notify Manu — Partial",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "tags": [
    {
      "name": "newsletter"
    },
    {
      "name": "le-brief"
    },
    {
      "name": "taiyka"
    }
  ]
}