funnel/n8n-workflows/le-brief-every2days.json
{
  "name": "Le Brief — Every 2 Days",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 6 * * *"
            }
          ]
        }
      },
      "id": "lb-001",
      "name": "Cron — 06:30 Europe/Paris",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        400
      ],
      "notes": "Fires daily; the Parity Guard downstream only lets EVEN epoch-days through, so effective cadence is every 2 days. Confirm GENERIC_TIMEZONE=Europe/Paris on the host."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-parity",
              "leftValue": "={{ $execution.mode !== 'trigger' || (Math.floor(Date.now() / 86400000) % 2 === 0) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-000",
      "name": "Parity Guard (even day)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        400
      ],
      "notes": "TRUE = send day (even epoch-day) OR a manual test run -> proceed. FALSE = odd scheduled day -> stop, no send. Epoch-day parity avoids month/year boundary drift."
    },
    {
      "parameters": {
        "jsCode": "// === Source registry ===\n// RSS / Reddit feeds. Returns one merged, deduped, time-filtered array.\n// 48h lookback (every-2-days cadence). The LLM filter decides relevance per the 7 themes.\n\nconst RSS_FEEDS = [\n  { url: 'https://techcrunch.com/category/artificial-intelligence/feed/', source: 'techcrunch.com' },\n  { url: 'https://www.theverge.com/ai-artificial-intelligence/rss/index.xml', source: 'theverge.com' },\n  { url: 'https://www.technologyreview.com/topic/artificial-intelligence/feed', source: 'technologyreview.com' },\n  { url: 'https://www.anthropic.com/news/rss.xml', source: 'anthropic.com' },\n  { url: 'https://openai.com/blog/rss.xml', source: 'openai.com' },\n  { url: 'https://hnrss.org/frontpage?q=AI+OR+LLM+OR+Claude+OR+GPT', source: 'news.ycombinator.com' },\n  { url: 'https://www.reddit.com/r/LocalLLaMA/.rss', source: 'reddit.com/r/LocalLLaMA' },\n  { url: 'https://www.reddit.com/r/MachineLearning/.rss', source: 'reddit.com/r/MachineLearning' },\n  { url: 'https://www.reddit.com/r/singularity/top.rss?t=day', source: 'reddit.com/r/singularity' },\n];\n\nconst CUTOFF_MS = Date.now() - 48 * 60 * 60 * 1000;\n\nfunction stripCdata(s = '') {\n  return s.replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1').replace(/<[^>]+>/g, '').trim();\n}\n\nfunction parseRss(xml, source) {\n  const out = [];\n  const blocks = xml.match(/<(item|entry)[\\s\\S]*?<\\/(item|entry)>/g) || [];\n  for (const block of blocks) {\n    const title = (block.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/) || [, ''])[1];\n    const linkMatch =\n      block.match(/<link[^>]*href=\"([^\"]+)\"/) ||\n      block.match(/<link[^>]*>([\\s\\S]*?)<\\/link>/);\n    const link = linkMatch ? linkMatch[1] : '';\n    const pub =\n      (block.match(/<pubDate[^>]*>([\\s\\S]*?)<\\/pubDate>/) || [, ''])[1] ||\n      (block.match(/<published[^>]*>([\\s\\S]*?)<\\/published>/) || [, ''])[1] ||\n      (block.match(/<updated[^>]*>([\\s\\S]*?)<\\/updated>/) || [, ''])[1];\n    const desc =\n      (block.match(/<description[^>]*>([\\s\\S]*?)<\\/description>/) || [, ''])[1] ||\n      (block.match(/<summary[^>]*>([\\s\\S]*?)<\\/summary>/) || [, ''])[1];\n    const publishedMs = pub ? Date.parse(pub) : NaN;\n    if (!title || !link) continue;\n    out.push({\n      title: stripCdata(title),\n      url: link.trim(),\n      source,\n      published_ms: isFinite(publishedMs) ? publishedMs : Date.now(),\n      snippet: stripCdata(desc).slice(0, 400),\n      kind: 'rss',\n    });\n  }\n  return out;\n}\n\nasync function fetchFeed({ url, source }) {\n  try {\n    const xml = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; LeBrief/1.0; +https://taiyka.com)' },\n      returnFullResponse: false,\n    });\n    return parseRss(typeof xml === 'string' ? xml : String(xml), source);\n  } catch (err) {\n    console.warn('Feed failed: ' + source + ' ' + err.message);\n    return [];\n  }\n}\n\nconst all = [];\nfor (const feed of RSS_FEEDS) {\n  const rows = await fetchFeed.call(this, feed);\n  all.push(...rows);\n}\n\nconst seen = new Set();\nconst filtered = all\n  .filter((i) => i.published_ms >= CUTOFF_MS)\n  .filter((i) => { if (seen.has(i.url)) return false; seen.add(i.url); return true; })\n  .sort((a, b) => b.published_ms - a.published_ms)\n  .slice(0, 120);\n\nreturn [{ json: { items: filtered, count: filtered.length } }];\n"
      },
      "id": "lb-002",
      "name": "Fetch RSS + Reddit Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        320
      ],
      "notes": "Fetches all RSS/Reddit feeds over the last 48h (cap 120). Remove a row in RSS_FEEDS to disable a source."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apidojo~twitter-scraper-lite/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchTerms\": [\"from:sama\", \"from:karpathy\", \"from:AnthropicAI\", \"from:OpenAI\", \"from:GoogleDeepMind\", \"from:miramurati\", \"from:swyx\", \"from:hwchase17\"],\n  \"sort\": \"Latest\",\n  \"tweetLanguage\": \"en\",\n  \"maxItems\": 60\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "lb-003",
      "name": "Apify — Twitter (last 48h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        520
      ],
      "notes": "Apify actor pulls recent tweets (48h filter applied in Normalize). Requires APIFY_API_KEY in n8n env. onError=continue so a dead source never blocks the issue.",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Apify Twitter rows into our item shape. 48h window.\nconst CUTOFF_MS = Date.now() - 48 * 60 * 60 * 1000;\nconst rows = items.map((i) => i.json);\nconst normalized = rows\n  .map((t) => {\n    const created = t.createdAt || t.created_at || t.date;\n    const ms = created ? Date.parse(created) : Date.now();\n    const handle = t.author?.userName || t.user?.screen_name || t.username || 'unknown';\n    return {\n      title: t.text ? t.text.slice(0, 200) : '',\n      url: t.url || t.twitterUrl || ('https://x.com/' + handle + '/status/' + (t.id || '')),\n      source: 'x.com/@' + handle,\n      published_ms: ms,\n      snippet: t.text || '',\n      kind: 'tweet',\n      engagement: (t.likeCount || 0) + (t.retweetCount || 0) * 2,\n    };\n  })\n  .filter((t) => t.title && t.published_ms >= CUTOFF_MS)\n  .sort((a, b) => b.engagement - a.engagement)\n  .slice(0, 25);\n\nreturn [{ json: { items: normalized, count: normalized.length } }];\n"
      },
      "id": "lb-004",
      "name": "Normalize Tweets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        520
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "lb-005",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1080,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine both branches into one item list + tag a monotonic issue number.\nconst combined = [];\nfor (const i of items) {\n  if (Array.isArray(i.json?.items)) combined.push(...i.json.items);\n}\nconst now = new Date();\nconst start = Date.UTC(now.getUTCFullYear(), 0, 0);\nconst dayOfYear = Math.floor((now.getTime() - start) / 86400000);\nconst issueNumber = (now.getUTCFullYear() - 2024) * 365 + dayOfYear;\nreturn [{ json: { items: combined, count: combined.length, issue_number: issueNumber, date_iso: now.toISOString() } }];\n"
      },
      "id": "lb-006",
      "name": "Combine + Tag Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:7b\",\n  \"stream\": false,\n  \"format\": \"json\",\n  \"options\": { \"temperature\": 0.4, \"num_ctx\": 6144 },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Tu es l'editeur de la newsletter « Le Brief » de Manu (@manu_ai.to), publiee tous les 2 jours. Audience: entrepreneurs et curieux francophones qui suivent l'IA. Tu recois 50 a 120 news des dernieres 48h. Garde UNIQUEMENT les news qui entrent dans ces 7 themes: (1) automatisation et agents IA (n8n, frameworks d'agents), (2) nouveaux outils et lancements IA, (3) sorties de modeles (Claude, GPT, Gemini, modeles open), (4) IA pour entrepreneurs et solopreneurs (business, monetisation), (5) tutos pratiques (prompts, workflows), (6) gros mouvements de l'industrie (levees de fonds, rachats, strategie), (7) IA pour le code et outils dev. Ignore tout le reste (drama, hype vide, leaks vagues, hors-sujet). Produis un digest « format C » en francais: - 'featured': les 3 a 4 news LES PLUS importantes. Pour chacune: 'title' = titre court en francais (6 a 10 mots), 'lines' = 2 a 3 phrases courtes en francais qui expliquent ce que c'est ET pourquoi ca compte, 'source' = le domaine, 'url' = l'URL exacte fournie. - 'quickhits': 6 a 8 autres news pertinentes. Pour chacune: 'line' = une phrase francaise de 8 a 16 mots, 'source' = le domaine, 'url' = l'URL exacte. Aucun doublon entre 'featured' et 'quickhits'. Garde les URL exactes fournies, ne les invente jamais. Reponds UNIQUEMENT en JSON valide, sans markdown, selon ce schema exact: {\\\"featured\\\":[{\\\"title\\\":\\\"...\\\",\\\"lines\\\":\\\"...\\\",\\\"source\\\":\\\"...\\\",\\\"url\\\":\\\"...\\\"}],\\\"quickhits\\\":[{\\\"line\\\":\\\"...\\\",\\\"source\\\":\\\"...\\\",\\\"url\\\":\\\"...\\\"}]}\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('News candidates (dernieres 48h):\\n\\n' + JSON.stringify($json.items.slice(0, 50).map(i => ({ title: i.title, source: i.source, url: i.url, snippet: (i.snippet||'').slice(0,120) })))) }} }\n  ]\n}",
        "options": {
          "timeout": 480000
        }
      },
      "id": "lb-007",
      "name": "Ollama — Curate (7 themes)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        400
      ],
      "notes": "Self-hosted Ollama on the VPS. From inside the n8n container, host.docker.internal reaches the host's 127.0.0.1:11434 (verify reachability during deploy). qwen2.5:7b, format=json. CPU inference is slow — timeout 300s. num_ctx 12288 for the ~80-item candidate list. If OOM, lower num_ctx or pull qwen2.5:3b."
    },
    {
      "parameters": {
        "jsCode": "// Parse Ollama's format-C JSON reply, guard the story count.\nconst reply = $input.first().json;\nconst raw = reply?.message?.content || '{}';\nlet parsed;\ntry {\n  let cleaned = String(raw).trim();\n  const first = cleaned.indexOf('{');\n  const last = cleaned.lastIndexOf('}');\n  if (first !== -1 && last !== -1 && last > first) cleaned = cleaned.slice(first, last + 1);\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = { featured: [], quickhits: [] };\n}\n\nlet featured = Array.isArray(parsed.featured) ? parsed.featured : [];\nfeatured = featured\n  .filter((s) => s && s.title && s.lines && s.url)\n  .map((s) => ({\n    title: String(s.title).trim(),\n    lines: String(s.lines).trim(),\n    source: String(s.source || '').trim(),\n    url: String(s.url).trim(),\n  }))\n  .slice(0, 4);\n\nlet quickhits = Array.isArray(parsed.quickhits) ? parsed.quickhits : [];\nconst featuredUrls = new Set(featured.map((f) => f.url));\nquickhits = quickhits\n  .filter((s) => s && s.line && s.url && !featuredUrls.has(String(s.url).trim()))\n  .map((s) => ({\n    line: String(s.line).trim(),\n    source: String(s.source || '').trim(),\n    url: String(s.url).trim(),\n  }))\n  .slice(0, 8);\n\nconst issue = $('Combine + Tag Issue').first().json;\nconst story_count = featured.length + quickhits.length;\nreturn [{\n  json: {\n    featured,\n    quickhits,\n    story_count,\n    featured_count: featured.length,\n    held: featured.length < 3,\n    issue_number: issue.issue_number,\n    date_iso: issue.date_iso,\n  },\n}];\n"
      },
      "id": "lb-008",
      "name": "Parse Ollama + Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-held",
              "leftValue": "={{ $json.held }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lb-009",
      "name": "Held? (< 3 featured)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1960,
        400
      ],
      "notes": "TRUE = fewer than 3 featured stories passed the filter -> hold, don't send. FALSE = send."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=insert into brief.issues (issue_date, story_count, sent_count, status, note) values (current_date, {{ $json.story_count }}, 0, 'held-no-stories', 'Held: fewer than 3 featured stories passed the theme filter.')",
        "options": {}
      },
      "id": "lb-010",
      "name": "Log Held Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2180,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "notes": "Create an n8n Postgres credential pointing at BOOK_DATABASE_URL (the Supabase pooler, port 6543)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": {{ JSON.stringify($env.BRIEF_FROM_EMAIL || 'Le Brief <brief@send.taiyka.com>') }},\n  \"to\": \"manu.uhila@taiyka.com\",\n  \"subject\": {{ JSON.stringify('[Le Brief] Numero tenu — trop peu de news (' + $json.story_count + ')') }},\n  \"text\": \"Le Brief n'a pas ete envoye: moins de 3 news featured ont passe le filtre des themes. Rien a faire — c'est le garde-fou anti-numero-vide.\"\n}",
        "options": {}
      },
      "id": "lb-011",
      "name": "Notify Manu — Held",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        260
      ],
      "notes": "Alerts Manu that the issue was held. Browser User-Agent header avoids Cloudflare 1010 on api.resend.com. Requires RESEND_API_KEY + verified BRIEF_FROM_EMAIL."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email, token from brief.subscribers where status = 'active' and lang = 'fr'",
        "options": {}
      },
      "id": "lb-012",
      "name": "Get Active Subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2180,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      },
      "notes": "Reads confirmed FR subscribers from the BOOK_DATABASE_URL Supabase project (brief schema)."
    },
    {
      "parameters": {
        "jsCode": "// Build the Resend batch payload — one format-C email per subscriber (own\n// unsubscribe token in the footer) + one monitor copy to Manu.\nconst guard = $('Parse Ollama + Guard').first().json;\nconst featured = guard.featured;\nconst quickhits = guard.quickhits;\nconst issueNumber = guard.issue_number;\nconst dateLabel = new Date(guard.date_iso).toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });\nconst subs = items.map((i) => i.json).filter((s) => s && s.email && s.token);\n\nconst SITE = $env.BRIEF_SITE_URL || 'https://taiyka.com';\nconst FROM = $env.BRIEF_FROM_EMAIL || 'Le Brief <brief@send.taiyka.com>';\nconst subject = 'Le Brief #' + String(issueNumber).padStart(3, '0') + ' — ' + dateLabel;\n\nfunction esc(s) { return String(s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'); }\n\nfunction render(unsubUrl) {\n  const featuredRows = featured.map((s, i) => (\n    '<tr><td style=\"padding:0 0 20px 0;\">' +\n    '<table role=\"presentation\" width=\"100%\"><tr>' +\n    '<td width=\"28\" valign=\"top\" style=\"font-family:ui-monospace,Menlo,monospace;font-size:12px;letter-spacing:0.1em;color:#00a6ff;padding-top:3px;\">' + String(i + 1).padStart(2, '0') + '</td>' +\n    '<td style=\"font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;\">' +\n    '<a href=\"' + s.url + '\" style=\"font-size:16px;font-weight:700;line-height:1.4;color:#e8f0fe;text-decoration:none;\">' + esc(s.title) + '</a>' +\n    '<div style=\"font-size:14px;line-height:1.6;color:#b8c6db;margin-top:5px;\">' + esc(s.lines) + '</div>' +\n    (s.source ? '<div style=\"margin-top:5px;\"><a href=\"' + s.url + '\" style=\"font-size:11px;color:#00a6ff;text-decoration:none;\">' + esc(s.source) + ' &rarr;</a></div>' : '') +\n    '</td></tr></table></td></tr>'\n  )).join('');\n\n  const quickRows = quickhits.map((s) => (\n    '<tr><td style=\"padding:0 0 11px 0;\">' +\n    '<table role=\"presentation\" width=\"100%\"><tr>' +\n    '<td width=\"16\" valign=\"top\" style=\"color:#00a6ff;font-size:14px;line-height:1.5;\">&bull;</td>' +\n    '<td style=\"font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;font-size:13px;line-height:1.5;color:#cdd8ea;\">' +\n    '<a href=\"' + s.url + '\" style=\"color:#cdd8ea;text-decoration:none;\">' + esc(s.line) + '</a>' +\n    (s.source ? ' <span style=\"font-size:11px;color:#8fa3bd;\">&mdash; ' + esc(s.source) + '</span>' : '') +\n    '</td></tr></table></td></tr>'\n  )).join('');\n\n  const sectionLabel = (txt) => '<tr><td style=\"padding:4px 0 12px 0;font-family:ui-monospace,Menlo,monospace;font-size:11px;letter-spacing:0.2em;text-transform:uppercase;color:#00a6ff;\">' + txt + '</td></tr>';\n\n  const quickBlock = quickhits.length\n    ? '<tr><td style=\"padding:14px 0 0 0;border-top:1px solid rgba(141,162,192,0.18);\"><table role=\"presentation\" width=\"100%\">' + sectionLabel('En bref') + quickRows + '</table></td></tr>'\n    : '';\n\n  return '<!doctype html><html lang=\"fr\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>' +\n    '<body style=\"margin:0;padding:0;background:#0a1628;\">' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#0a1628;\"><tr><td align=\"center\" style=\"padding:28px 16px;\">' +\n    '<table role=\"presentation\" width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%;background:#0f1a2e;border:1px solid rgba(141,162,192,0.2);border-radius:8px;padding:26px;\">' +\n    '<tr><td style=\"border-bottom:1px solid rgba(141,162,192,0.2);padding-bottom:14px;\"><table role=\"presentation\" width=\"100%\"><tr>' +\n    '<td style=\"font-family:ui-monospace,Menlo,monospace;font-size:11px;letter-spacing:0.2em;text-transform:uppercase;color:#00a6ff;\">LE BRIEF &middot; #' + String(issueNumber).padStart(3, '0') + '</td>' +\n    '<td align=\"right\" style=\"font-family:ui-monospace,Menlo,monospace;font-size:11px;letter-spacing:0.14em;text-transform:uppercase;color:#8fa3bd;\">' + dateLabel + '</td>' +\n    '</tr></table></td></tr>' +\n    '<tr><td style=\"padding:22px 0 0 0;\"><table role=\"presentation\" width=\"100%\">' + sectionLabel('&Agrave; la une') + featuredRows + '</table></td></tr>' +\n    quickBlock +\n    '<tr><td style=\"border-top:1px solid rgba(141,162,192,0.2);padding-top:14px;margin-top:6px;text-align:center;font-family:-apple-system,Segoe UI,Roboto,Arial,sans-serif;font-size:12px;color:#8fa3bd;\">' +\n    '<p style=\"margin:0 0 6px 0;\">&mdash; Manu &middot; <a href=\"https://instagram.com/manu_ai.to\" style=\"color:#00a6ff;text-decoration:none;\">@manu_ai.to</a></p>' +\n    '<p style=\"margin:0;font-size:11px;\"><a href=\"' + unsubUrl + '\" style=\"color:#8fa3bd;text-decoration:underline;\">Se d&eacute;sinscrire en 1 clic</a></p>' +\n    '</td></tr></table></td></tr></table></body></html>';\n}\n\nconst batch = [];\n// Monitor copy to Manu (visibility for the first ~2 weeks; one email/issue).\nbatch.push({ from: FROM, to: 'manu.uhila@taiyka.com', subject: '[COPIE] ' + subject, html: render(SITE + '/brief') });\nfor (const s of subs) {\n  const unsub = SITE + '/api/brief/unsubscribe?token=' + s.token;\n  batch.push({ from: FROM, to: s.email, subject, html: render(unsub) });\n}\n\nreturn [{ json: { batch, sent_count: subs.length, story_count: (featured.length + quickhits.length) } }];\n"
      },
      "id": "lb-013",
      "name": "Build Resend Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        500
      ],
      "notes": "One rendered format-C email per active subscriber (own unsubscribe token) + a monitor copy to Manu. Caps at Resend's 100-per-batch = the free-tier daily ceiling."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails/batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.batch }}",
        "options": {}
      },
      "id": "lb-014",
      "name": "Resend — Batch Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        500
      ],
      "notes": "Sends the whole issue in one batch call. Browser User-Agent avoids Cloudflare 1010. RESEND_API_KEY + verified BRIEF_FROM_EMAIL domain required."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=insert into brief.issues (issue_date, story_count, sent_count, status) values (current_date, {{ $('Build Resend Batch').first().json.story_count }}, {{ $('Build Resend Batch').first().json.sent_count }}, 'sent')",
        "options": {}
      },
      "id": "lb-015",
      "name": "Log Sent Issue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2840,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "5IARxYGmdsAM5Adm",
          "name": "Supabase — Le Brief"
        }
      }
    }
  ],
  "connections": {
    "Cron — 06:30 Europe/Paris": {
      "main": [
        [
          {
            "node": "Parity Guard (even day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parity Guard (even day)": {
      "main": [
        [
          {
            "node": "Fetch RSS + Reddit Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify — Twitter (last 48h)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Apify — Twitter (last 48h)": {
      "main": [
        [
          {
            "node": "Normalize Tweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS + Reddit Sources": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tweets": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Combine + Tag Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine + Tag Issue": {
      "main": [
        [
          {
            "node": "Ollama — Curate (7 themes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama — Curate (7 themes)": {
      "main": [
        [
          {
            "node": "Parse Ollama + Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ollama + Guard": {
      "main": [
        [
          {
            "node": "Held? (< 3 featured)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Held? (< 3 featured)": {
      "main": [
        [
          {
            "node": "Log Held Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Active Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Held Issue": {
      "main": [
        [
          {
            "node": "Notify Manu — Held",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Subscribers": {
      "main": [
        [
          {
            "node": "Build Resend Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Resend Batch": {
      "main": [
        [
          {
            "node": "Resend — Batch Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resend — Batch Send": {
      "main": [
        [
          {
            "node": "Log Sent Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "tags": [
    {
      "name": "newsletter"
    },
    {
      "name": "le-brief"
    },
    {
      "name": "taiyka"
    }
  ]
}
